// benifit-css-star
.benifit-head-items {
    padding-top: 30px;
}

.benifit-head-items{
    h5 {
        font-size: 30px;
        line-height: 30px;
        color: #191A15;
    }
}

.benifit-head-items{
    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #A6A6A6;
}

    
}.benifit-head-items {
    padding-top: 30px;
}

.benifit-head-items{
    h5 {
        font-size: 30px;
        line-height: 30px;
        color: #191A15;
    }
}

.benifit-section{
    padding-bottom: 100px;
    background: #eafff7;
}

.benifit-head-items{
    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #A6A6A6;
    }
}
.benifit-feature {
    padding-top: 100px;
}

.benifit-feature-right {
    margin-left: 216px;
    position: relative;
}

.benifit-feature-right img {
    border-radius: 20px;
}

.benifit-feature-left h3 {
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #191A15;
    padding-bottom: 30px;
}

.benifit-feature-left h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
    padding-bottom: 12px;
}

.benifit-feature-left span {
    margin-right: 12px;
}

.benifit-feature-left{
    span{
        i {
            background: $color-one;
            color: $color-three;
            width: 27px;
            height: 27px;
            text-align: center;
            font-size: 12px;
            border-radius: 21px;
            padding-top: 8px;
        }
    }
}
.comment {
    background:$color-three;
    padding: 2px 15px;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(80, 80, 120, 0.8);
}

.comment{
    h4 {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #191A15;
    }
}

.comment{
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #A6A6A6  ;
    }
}

.comment{
    i {
        background: #54BD95;
        color: white;
        padding: 10px;
        border-radius: 20px;
        margin-top: 10px;
    }
}
.comment {
    position: absolute;
    top: 55px;
    left: -18px;
}
.benifit-sction{
    background: #c1e1d6;
}
.comment-two {
    background: white;
    width: 119px;
    height: 60px;
    border-radius: 8px;
    position: absolute;
    top: 207px;
    right: 20px;
}

.comment-two{
    span {
        margin-left: 12px;
    }
}

.comment-two{
    span{
        i {
            color: #74C9A9;
        }
    }
}

.comment-two{
    h6 {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #A9A7B6;
        margin-left: -17px;
        padding-top: 10px;
    }
}

.comment-two{
    h5 {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #191A15;
    }
}
.comment-three {
    border-radius: 5px;
    background: white;
    width: 290px;
    height: 54px;
    position: absolute;
    bottom: -25px;
}

.comment-three{
    h5 {
        margin-top: 14px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.03em;
        color: #191A15;
    }
}

.comment-three{
    span{
        i {
            margin-right: 12px;
            color: #2B9B5B;
        }
    }
}
.comment-icon {
    position: absolute;
    top: 312px;
    left: 29px;
    transform: rotate(30deg);
}

.comment-icon{
    i {
        background: #74C9A9;
        padding: 12px;
        border-radius: 20px;
        color: white;
    }
}
// benifit-css-end