// :start-feature-section
.common-btn {
    background: #54bd95;
    color: white;
}
.feature-top{
    padding-top: 100px;
}
.feature-top{
    .button{
        margin-top: 50px;
        padding-left: 30px;
    }
}

.feature-top{
    p {
        padding-top:10px;
        font-weight: 400;
        font-size: 25px;
        line-height: 32px;
        color: #A6A6A6;
    }
}

.feature-top{
    h3 {
        font-weight: 600;
        font-size: 53px;
        line-height: 61px;
        color: #191A15;
    }
}
.feature-bottom {
    padding-top: 72px;
}
// :end-feature-section